<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="G:/GitHub/SDET_UI">
        <classes><class name="SDET_UI.AddCustomer">
            <methods>
                <include name="AddCustomer"/>
                <include name="PostCodeFieldFilling"/>
                <include name="firstNameFieldFilling"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>